@use '../../../constants.scss' as *;

.image {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.text {
	color: $text-primary !important;
	text-align: center;
}

.hpBar {
	margin-bottom: 24px;
}

.capitalize {
	text-transform: capitalize;
}
